services:
  api:
    image: ${IMAGE_ID}:${IMAGE_TAG}
    environment:
      - API_TOKEN=${API_TOKEN}
      - SQLALCHEMY_DATABASE_DSN=postgresql+psycopg2://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}
    command: ["uvicorn", "project.presentation.api:app", "--host", "0.0.0.0", "--port", "8080"]
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped
    mem_limit: 250M

  db:
    image: postgres:17.2
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 10s
    restart: unless-stopped
    mem_limit: 2G
